@using CongNgeWeb.Controllers
@if (@Session["UserName"]!=null) {
    
  <li class="nav-item">
               <a class="nav-link" href="~/Login/detailuser?email=@Session["UserName"]" style="color:red">Xin chào @Session["UserName"] !</a>
            </li>
            
    <li class="nav-item">
               <a class="nav-link" href="~/Login/logout">Đăng Xuất</a> 
            </li>
   
          
        }
    
 else {
 
    <li class="nav-item">
              <a class="nav-link" href="~/Login/Login">Đăng Nhập</a>
       </li>
      
}
