@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Chưa có sản phầm nào trong giỏ hành!!!</h4>
<h5>Hãy @Html.ActionLink("xem thêm","Index","Home") sản phẩm khác.</h5>
