@{
    ViewBag.Title = "done";
}

<h2>Xin chúc mừng!Bạn đã đang ký thành công.</h2>
<h3>Hãy @Html.ActionLink("Đăng Nhập","Login","Login") ngay.</h3>
<div>
    @Html.ActionLink("Trở về trang chủ", "Index","Home")
</div>
